apns==2.0.1
apns2==0.3.0
argh==0.26.2
asn1crypto==0.24.0
aws-xray-sdk==2.4.2
backoff==1.8.0
backports-abc==0.5
beautifulsoup4==4.4.1
boto==2.41.0
boto3==1.7.30
botocore==1.12.188
bzr==2.6.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
docutils==0.14
ecdsa==0.13.2
enum34==1.1.6
expiringdict==1.1.4
Fabric==1.11.1
funcsigs==1.0.2
future==0.17.1
futures==3.3.0
geoip2==2.4.0
google-auth==1.5.1
h2==2.6.2
hiredis==0.2.0
hpack==3.0.0
html5lib==1.0b8
httpagentparser==1.7.8
httplib2==0.13.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.6
iniparse==0.3.1
ipaddress==1.0.22
itsdangerous==0.24
javaobj-py3==0.3.0
Jinja2==2.8
jmespath==0.9.4
jsonpickle==1.2
jws==0.1.3
kitchen==1.1.1
langcodes-py2==1.2.0
langdetect==1.0.7
ldclient-py==6.8.3
lxml==3.6.0
MarkupSafe==1.1.1
maxminddb==1.4.1
mock==2.0.0
msgpack-python==0.4.7
netaddr==0.7.19
numpy==1.11.1
oauth2==1.9.0.post1
oauth2client==4.0.0
paramiko==1.18.5
passlib==1.7.1
pathtools==0.1.2
pbr==5.4.0
Pillow==6.2.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
pyjks==17.0.0
PyJWT==1.7.1
pyliblzma==0.5.3
pyOpenSSL==17.0.0
PyPDF2==1.26.0
pyRFC3339==1.1
python-dateutil==2.6.1
python-jwt==2.0.1
python-slugify==1.2.6
pytz==2016.6.1
PyYAML==3.11
qrcode==5.3
redis==2.10.5
redis-py-cluster==1.3.6
reportlab==3.3.0
requests==2.18.4
rsa==4.0
s3transfer==0.1.13
semver==2.8.1
singledispatch==3.4.0.3
six==1.10.0
slackclient==1.0.9
stemming==1.0.1
toredis==0.1.2
tornado==4.4
tornado-stripe==1.0.3
twilio==5.4.0
twofish==0.3.0
ua-parser==0.7.1
Unidecode==1.1.1
uniseg==0.7.1
urllib3==1.22
watchdog==0.8.3
websocket-client==0.56.0
wrapt==1.11.2
xhtml2pdf==0.0.6
