# MySQL config file

# Makes query output interactive when it doesn't fit in one screen width/height
[mysql]
pager = less -SFX

[mysqld]
# Allows local infile imports
local_infile=ON
# Allows exporting to CSV
secure-file-priv = ""
# Enables logging
general_log_file = /var/log/mysql/mysql.log
general_log = 1;
# Reduces holes in auto-incrementing
innodb_autoinc_lock_mode=0
